<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GuardianAPIKey</key>
	<string>$(GUARDIAN_API_KEY)</string>
	<key>NYTAPIKey</key>
	<string>$(NYT_API_KEY)</string>
	<key>NewsAPIKey</key>
	<string>$(NEWS_API_KEY)</string>
	<key>GNewsAPIKey</key>
	<string>$(GNEWS_API_KEY)</string>
	<key>NewsDataAPIKey</key>
	<string>$(NEWSDATA_API_KEY)</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>NewsApto sends notifications about breaking news and important stories so you never miss critical updates.</string>
</dict>
</plist>
